
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 2em 0 10px 0;
}

.display .boxes a,p{
    font-weight: bold;
}

#trend .name-box{
    height: 50px;
}

#trend .product{
    cursor: pointer;
    margin: 0;
}
#trend .boxes img{
    transition: 0.3s all; 
    width:60%;
}

#trend .boxes:hover img{
    opacity: 0.7;  
}

#trend .product .buy-btn{
    background-color:#222222;
    color: rgb(247, 245, 242);
    transform: translateX(20px);
    opacity: 0;
    transition: 0.5s all;
    padding: 5px 0px;
    text-decoration: none;
    margin:10px 0;
    display: block;
}

#trend .product .buy-btn:hover{
    background-color:#B08C5C ;
    color: black;
}

#trend .boxes:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.display{
    display:flex;
    flex-wrap:wrap;
}

.rating .fa{
    padding: 0;
    color: gold;
}